.patient-card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem;
    width : 98%;
  }

.patient-card-item h2 {
    flex: 1;
    font-size: medium;
}

.patient-card-item p {
    flex: 1;
    font-size: small;
    margin: 0;
    padding: 0;
}
  
.patient-card-item__properties {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    flex: 3;
}

.patient-card-item__properties h2 {
    flex: 1;
    margin: 0 1rem;
}